body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.button {
  background: #fd5f60;
  color: #fff;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
}

.container {
  text-align: center;
}

.square-wrapper {
  max-width: 500px;
  margin: 0 auto;
  color: #fff;
  max-height: 500px;
  height: 100vw;
}

.square-wrapper .cell {
  line-height: 110px;
  border: 1px solid #fff;
  cursor: pointer;
}

.square-wrapper .row {
  height: 25%;
  text-align: center;
}