body {
  background-color: #393E46;
  min-width: 320px;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.alert {
  margin: 10px;
  color: #fff;
  border: 1px solid #fd5f60;
}

button.button {
  background: #fd5f60;
  color: #fff;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
}

.container {
  text-align: center;
}

.success {
  background: #4ECCA3;
}

.square-wrapper {
  max-width: 500px;
  margin: 0 auto;
  color: #fff;
  max-height: 500px;
  height: 100vw;
  text-align: left;
}

td.cell {
  line-height: 93px;
  border: 1px solid #fff;
  cursor: pointer;
  width: 23%;
  display: inline-block;
  text-align: center;
  margin: 4px;
  box-sizing: border-box;
  height: 114px;
  padding: 12px 15px;
  font-size: 40px;
}

.cell:hover {
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
  background: #fd5f60;
}

.title {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

.no-value {
  border: none;
  visibility: hidden;
}

.no-events {
  pointer-events: none;
}


@media (max-width: 600px) {
  div.container {
    width: 100%;
  }

  .square-wrapper {
    max-width: 100vw;
    max-height: unset;
    height: 100vw;
  }

  td.cell {
    line-height: 22vw;
    height: 22vw;
    font-size: 10vw;
    padding: 0;
    margin: 2px;
  }
}

@media (max-width: 425px) {
  .title {
    margin: 50px 0;
  }
}